.input {
    width: 60%;
    height: 30px; 
    padding-left: 10px; 
    border: 1px solid black; 
    display: 'inline'
}
.button {
    width: 25%;
    font-size: 15px;
    margin-left: 15px;

    &:hover {
        color: #eb1700;
    }
}
.infoWrapper {
    width: 90%;
    padding: 20px;
    justify-content: space-between;
    align-items: center;

    div {

        img {
            width: 64px;
            height: 64px;
            border-radius: 5px;
        }
        span {
            font-size: 20px;
            font-weight: 600;
            margin-left: 5px;
        }
    }
}

@media screen and (max-width: 576px) {
    .wrapper {
        display: flex;
        flex-direction: column;

        .input {
            width: 100%;
        }

        .button {
            width: 50%;
            margin: 10px auto;
        }
    }
}
@media screen and (max-width: 767px) {
    .infoWrapper {
        width: 100%;
    }
}