.warpper {
    text-align: center;
    background-color: rgb('235,235,235') !important;
    padding: 20px 5px;
    border-radius: 3 !important;

    div img {
        width: 110px;
        height: 110px;
    }
}
.indexText {
    font-weight: 500;
    font-size: 18px;
    display: block;
    margin-bottom: 10px;
}
.name {
    color: '#eb1700';
    font-size: 15;
    margin: 10px auto;
    display: block;
    font-weight: 600;
}
.infoWrapper {
    display: flex;
    flex-direction: column;
    padding-left: 10px;

    div {
        text-align: left;

        span {
            font-size: 14px;
            margin-left: 5px;
        }
    }
}