

html, body, :global(#root) {
  height: 100%;
}

.App {
  width: 100%;
  max-width: 1200px;
  margin:  0 auto;
  margin-top: 20px;
  height: 100%;
}
.checktOUTButton {
  background-color: #eb1700;
  color: white;
}
.checktOUTButton:hover {
  background-color: rgba(235, 23, 0, 0.8);
  color: white;
}

