.title {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

.small {
    text-align: center;

    span {
        display: block;
        font-size: 18px;
    }

    i {
        // background-color: '#eee';
        font-size: 90px;
        padding:32px
    }
}