body {
    width: 600px;
}

li {
    margin-top: 5px;
}
td,th,tr,table {
    padding: 0;
    margin: 0;
}

.header {
    background-color: rgb(3, 11, 79);
    padding-top: 15px; 
    padding-bottom: 15px;
     text-align: center
}
.header-wrapper {
    display: flex; 
    align-items: center;
    justify-content: center;
}
.header-wrapper img {
    width: 35px; height: 35px;
}
.header-wrapper span {
    color: white; 
    font-size: 20px;
    display: inline;
    margin-left: 8px;
}
.body-left {
    background-color: rgb(247,247,247);
    width: 50%; 
    vertical-align: text-top;
}
.body-right  img {
    width: 100%;
    height: 200px;
}
.body-right span {
    margin-left: 10px;
}

.foot {
    background-color: rgb(3, 11, 79);
    padding-top: 8px; 
    padding-bottom: 8px; 
    text-align: center
}
.foot span {
    color: white; 
    font-size: 15px;
    display: inline;
    margin-left: 8px;
}