html,body {
    padding:0;
    margin: 0;
    width: 100%;
}
.header {
    background-color: rgb(255,75,78);
    padding-top: 15px;
    padding-bottom: 15px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
}
.header div {
    display: flex;
    align-items: center;
}
.header div> span {
    color: white;
    
}
.movelist {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    justify-content: center;
}
.moveitem {
    width: 180px;
    padding: 5px;
    background-color: rgb(240,240,240);
    margin: 5px;
}
.moveitem img {
    width: 100%;
    height: 250px;
}
.moveitem span {
    display: block;
    text-align: center;
    font-weight: 600;
    font-size: 12px;
}
.foot {
    background-color: rgb(129, 0, 20);
    padding: 40px;
    margin-top: 30px;
}