.warpper {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.inner {
    text-align: center;
    padding: 20px 5px;
    border-radius: 3px;
    width: calc(100% - 10px);
    background-color: rgb(235,235,235);
    .resultS {
        font-weight: 500;
        font-size: 18px;
        display: block;
        margin-bottom: 10px;
    }
    div img{
        width: 110px;
        height: 110px;
    }
}
.result576 {
    display: none;
}
.iconInfo {
    div {
        width: 70%;
        text-align: left;
    }
}
.scores {
    font-size: 15px;
    margin: 10px 0;
    display: block;
    font-weight: 600;
}
.name {
    color: #1890ff;
    font-size: 18px;
    margin: 10px 0;
    display: block;
    font-weight: 600;
}

@media screen and (max-width: 568px) {
    .inner {
        display: flex;
        flex-direction: row;
        width: 100%;
        text-align: left;
        div img {
            width: 150px;
            height: 150px;
        }

        .resultS {
            display: none;
        }

        .info {
            margin-left: 15px;
        }
        
    }

    .result576 {
        font-weight: 500;
        font-size: 18px;
        display: block;
        margin-bottom: 0;
    }

    .iconInfo {
        div {
            width: 100%;
            text-align: left;
        }
    }
    .scores {
        display: inline;
        margin: 0;
        margin-left: 0;
        font-size: 14px;
    }
    .name {
        margin:  0;
        font-size: 14px;
    }
}