html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}
a {
    text-decoration: none;
    color: #000;
}
img {
    width: 500px;
    height: 300px;
}
.menu {
    width: 100%; 
    max-width: 1200px;
    background-color: rgb(241,241,241);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    margin: 0 auto;
    /* position: fixed;
    top: 0;
    z-index: 999999; */
}
.menu div a {
    color: black;
    display: block;
    margin: 0 10px 0 10px;
}
.menu div a:hover {
    color: #eb1700;
}
.foot {
    /* width: 100%; */
    background-color: rgb(215, 215, 215);
    padding: 15px 25px;
    margin-top: 10px;
}
.content {
    text-indent: 2em;
    display: block;
    line-height: 25px;
    padding-left: 8px;
    padding-right: 8px;
    text-align: left;
}
.content-img {
    float: left;
    margin-right:24px; 
    width:570px;
    height: auto
}
.menu-left {
    margin-left: 10px;
}
.menu-right {
    margin-right: 10px;
}
.title {
    font-weight: bold;
    font-size: 24px;
    margin-top: 10px;
}
.height {
    min-height: calc(100% - 190px);
}
.foot-text {
    font-size: 16px;
}
.foot-img {
    width: 25px;
    height: 25px;
}
.foot-code{
    width: 150px;
    height: 150px;
}

@media screen and (max-width:576px) {
    .container-fluid {
        padding-left: 5px;
        padding-right: 5px;
    }
    .menu-left {
        margin-left: 0;
    }
    .menu-right {
        margin-right: 0;
    }
    .content-img {
        float: none;
        width: 100%;
        margin-bottom: 10px;
    }
    .content-text {
        font-size: 13px;
    }
    .title {
        font-weight: bold;
        font-size: 16px;
        margin-top: 10px;
    }
    
    
}
.navbar-light .navbar-nav .nav-link:hover {
    color: #eb1700;
}
.bg-light {
    background-color: rgb(215,215,215)!important;
}

@media (min-width: 992px){
    .navbar-expand-lg .navbar-nav {
        -ms-flex-direction: row;
        flex-direction: row;
        justify-content: flex-end;
        width: 100%;
    }
}

@media screen and (max-width: 1200px) and  (min-width: 992px) {
    .content-img {
        width: 480px;
    }
    
}

@media screen and (max-width: 992px) and (min-width: 768px) {
    .content-img {
        width: 380px;
    }
}
@media screen and (max-width: 768px) and (min-width: 576px) {
    .content-img {
        width: 280px;
    }
    .title {
        font-size: 18px;
    }
    .content-text {
        font-size: 14px;
    }
}

@media screen and (max-width:700px) {
    .foot-left {
        margin: 0 auto;
    }
    .foot-text {
        font-size: 13px;
    }
    .foot-img {
        width: 22px;
        height: 22px;
    }
    .foot-code{
        width: 100px;
        height: 100px;
    }
}



.loadEffect{
    width: 100px;
    height: 100px;
    position: relative;
    margin: 0 auto;
    margin-top:50px;
    margin-bottom: 20px;
    display: block;
}
.loadEffect span{
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: rgb(200,200,200);
    position: absolute;
    -webkit-animation: load 1.04s ease infinite;
}
@-webkit-keyframes load{
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0.2;
    }
}
.loadEffect span:nth-child(1){
    left: 0;
    top: 50%;
    margin-top:-8px;
    -webkit-animation-delay:0.13s;
}
.loadEffect span:nth-child(2){
    left: 14px;
    top: 14px;
    -webkit-animation-delay:0.26s;
}
.loadEffect span:nth-child(3){
    left: 50%;
    top: 0;
    margin-left: -8px;
    -webkit-animation-delay:0.39s;
}
.loadEffect span:nth-child(4){
    top: 14px;
    right:14px;
    -webkit-animation-delay:0.52s;
}
.loadEffect span:nth-child(5){
    right: 0;
    top: 50%;
    margin-top:-8px;
    -webkit-animation-delay:0.65s;
}
.loadEffect span:nth-child(6){
    right: 14px;
    bottom:14px;
    -webkit-animation-delay:0.78s;
}
.loadEffect span:nth-child(7){
    bottom: 0;
    left: 50%;
    margin-left: -8px;
    -webkit-animation-delay:0.91s;
}
.loadEffect span:nth-child(8){
    bottom: 14px;
    left: 14px;
    -webkit-animation-delay:1.04s;
}